<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contact Me</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }
         nav a {
            color: white;
            text-decoration: none;
            margin: 0 10px;

        }

        header {
            background-color: #333;
            color: white;
            padding: 1rem;
            text-align: center;
        }

        main {
            padding: 2rem;
        }

        footer {
            background-color: #333;
            color: white;
            text-align: center;
            padding: 1rem;
            position: fixed;
            bottom: 0;
            width: 100%;
        }
    </style>
</head>

<body>
<header>
    <h1>Contact Me</h1>
</header>

<main>
    <h2>Contact Information</h2>
    <p>Email: example@example.com</p>
    <p>Phone: (123) 456-7890</p>
    <p>Address: 123 Main St, Cityville, State, 12345</p>

    <h2>Get in Touch</h2>
    <p>If you have any questions or inquiries, feel free to reach out to me. I'll be happy to assist you.</p>
</main>

<footer>
    <p>Contact me: harpreet@gmail.com | Find me on<nav> <a href="https://github.com/HarpreetSingh0083">GitHub</a></nav> and LinkedIn</p>
</footer>
</body>

</html>
